/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: greenyellow;
    color: teal;

    /* Desafio Plus  2 */
    @media (max-width: 480px){
    background-color: #ADD8E6;
    }
}

.cabecalho{
    background-color: #50C878;
    text-align: center;
}

.titulo_principal {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.subtitulo {
    color: #ff4500;
}

.conteudo {
    background-color: bisque;
    color: steelblue;
}

/* Desafio Plus */
.conteudo p:nth-child(3){
    color: #E4005A;
    font-size: 42px;
}


